@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-image: url("/public/d8un0f2-0bbc2229-4839-4936-86cf-b8652493c960.jpg");
  transition: all ease-in;
  color: rgb(255 255 255);
}
